<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  
        id="cordova-plugin-cbeacon"  
        version="0.1">  
  
  <name>cBeacon</name>   
  <author>José María Campaña Rojas</author>
  <license>MIT</license>
  <repo>https://github.com/chemisax/cbeacon.git</repo>
  <issue>https://github.com/chemisax/cbeacon/issues</issue>

  <js-module src="www/cbeacon.js">  
    <clobbers target="window.cBeacon" />  
  </js-module>  
  
  <!-- iOS -->  
  <platform name="ios">  
    <config-file target="config.xml" parent="/*">  
      <feature name="CBeacon">  
        <param name="ios-package" value="CBeacon" />  
      </feature>  
    </config-file>
    <header-file src="src/ios/CBeacon-Bridging-Header.h" />  
    <source-file src="src/ios/CBeacon.swift" />  
  </platform>  
  
</plugin>